.createListingContainer {  
        width: 99.2rem;

        margin-top: 2rem;
        margin-left: 78.5rem;
        margin-right: 78.5rem;
}

.formContainer {
    border: 1.5px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    width: 60rem;

    margin-left: 19.6rem;
    margin-right: 19.6rem;
}

h1 {
    color: white;
    font-family: 'beryliumregular';

    text-align: center;
}

.lineBoxTwo {
    border: 1.5px solid white;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

h2 {
    color: white;
    font-family: 'beryliumregular';
    font-size: 30px;
}

.photoBox {
    display: grid;
    grid-template-columns: repeat(4, 144px);
    grid-template-rows: repeat(2, 144px);

    justify-content: center;
}

.photoPlaceHolder {
    border: 1.5px dashed white;
    border-width: .3rem;

    margin: 1rem;

    background: rgba(255, 255, 255, 0.213);

    text-align: center;
    align-content: center;
}

.photoPlaceHolder p {
    color: white;
    font-family: 'beryliumregular';
}

h3 {
    color: white;
    font-family: 'beryliumregular';
    font-size: 30px;
}

.descriptionInput {
    width: 59.2rem;
    height: 15rem;
}

input {
    width: 59.2rem;
    height: 3rem;
}

h4 {
    color: white;
    font-family: 'beryliumregular';
    font-size: 30px;
}

label {
    color: white;
    font-family: 'beryliumregular';
    font-size: 20px;
}

.space {
    height: 2rem;
}

h5 {
    color: white;
    font-family: 'beryliumregular';
    font-size: 30px;
}

.postEditBox {
    display: flex;

    justify-content: space-between;

    font-family: 'beryliumregular';
}

.postBox button {
    color: white;

    background: rgba(255, 255, 255, 0.213);

    width: 170px;
    height: 60px;
}

.editBox button {
    color: black;

    background: white;

    width: 170px;
    height: 60px;
}

button {
    cursor: pointer;
    font-family: 'beryliumregular';
}

.footerTwo {
    height: 29.8rem;

    border: 1.5px solid white;
    border-left: 0;
    border-right: 0;

    margin-top: 2rem;
    align-content: center;
    text-align: center;
}

h6 {
    color: white;
    font-family: 'beryliumregular';
    font-size: 30px;
}

.footerTwo p {
    color: white;
    font-family: 'beryliumregular';
    margin: .5rem;
}