@font-face {
    font-family: 'beryliumregular';
    src: url('/high-fidelity-prototype/customer-prototype/css/fonts/berylium/berylium-webfont.woff2') format('woff2'),
         url('/high-fidelity-prototype/customer-prototype/css/fonts/berylium/berylium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beryliumbold';
    src: url('/high-fidelity-prototype/customer-prototype/css/fonts/berylium/beryliumbold-webfont.woff2') format('woff2'),
         url('/high-fidelity-prototype/customer-prototype/css/fonts/berylium/beryliumbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

.styleBar {
    height: 125px;
    background-image: url('/high-fidelity-prototype/customer-prototype/images/Marcy.webp');
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(20px);
}

.styleBarText {
    color: white;
    transform: translate(0, -250%);
    text-align: center;
    font-family: 'beryliumregular';
}

.sellerStatAndBarContainer {
    display: flex;
}

.sellerQuickBarContainer {
    border: 1.5px solid white;
    border-left: 0;
    border-bottom: 0;
    width: 20rem;
    height: 100vh;
    margin-top: -110px;

    z-index: 2;
}

.quickBarBox {
    border: 1.5px solid white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 20rem;
    height: 10rem;
    color: white;
    margin-top: 8rem;
}

.quickBarBox p {
    text-align: center;
}

.sellerStatOverviewContainer {
    display: grid;
    margin-top: -110px;

    z-index: 2;

    grid-template-rows: 100px;
    grid-template-columns: 100px 100px;
    border: 1.5px solid white;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    width: 100vw;

    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;
}