.sellerStatOverviewContainer {
    height: 100rem;

    align-items: center;
    align-content: center;
}

.sellerStatOverviewContainer p {
    color: white;
    text-decoration: underline;

    margin-left: 2rem
}

img {
    border-radius: 5rem;

    margin-left: 10rem;
    margin-bottom: 5rem;
}

