.soldStatus {
    display: flex;

    justify-content: center;
    align-content: center;

    text-align: center;
}

.statusBox {
    border: 1.5px solid white;
    border-top: 0;
    border-left: 0;
    width: 10rem;
}

.statusBox:hover {
    background: rgba(255, 255, 255, 0.213);
    cursor: pointer;
}

.statusBox p {
    color: white;
    font-family: 'beryliumregular';
}

.statusBox p:hover {
    text-decoration: underline;
}

.emptyBox {
    border: 1.5px solid white;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    width: 206rem;
}

.soldRecipets {
    color: white;
    text-align: center;
}