html {
    font-size: 62.5%;
}

@font-face {
    font-family: 'porcelainregular';
    src: url('/high-fidelity-prototype/customer-prototype/css/fonts/porcelain/porcelain-webfont.woff2') format('woff2'),
         url('/high-fidelity-prototype/customer-prototype/css/fonts/porcelain/porcelain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'synnovabold';
    src: url('/high-fidelity-prototype/customer-prototype/css/fonts/synnova/synnova-bold-webfont.woff2') format('woff2'),
         url('/high-fidelity-prototype/customer-prototype/css/fonts/synnova/synnova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'synnovaregular';
    src: url('/high-fidelity-prototype/customer-prototype/css/fonts/synnova/synnova-regular-webfont.woff2') format('woff2'),
         url('/high-fidelity-prototype/customer-prototype/css/fonts/synnova/synnova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 2rem;
}

.navContainer {
    display: flex;
}

.menu-burger > * {
    position: absolute;
    inset-inline-start: 3.0rem;
    inset-block-start: 3.3rem;
}

.menu-burger input {
    height: 3.2rem;
    margin: 0;
    opacity: 0;
    width: 3.2rem;
    z-index: 5;
}

.menu-burger svg {
    height: 3.2rem;
    width: 3.2rem;
    z-index: 4;
}

ul.menu-burger__item-list {
    background: rgba(255, 255, 255, 0.909);
    bottom: 0;
    color: white;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -3.0rem;
    padding: 3.2rem;
    top: 0;
    transform: translate(-200%, 0);
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
    width: 256rem;
    height: 141rem;
    z-index: 3;
}

input:checked ~ .menu-burger__item-list {
    transform: none;
}

.menu-burger input:checked ~ svg line {
    stroke: black;
}

.menu-burger svg line:nth-of-type(1) {
    stroke: black;
    transform-origin: center .6rem;
}

.menu-burger svg line:nth-of-type(2) {
    stroke: black;
    transform-origin: center 1.2rem;
}

.menu-burger svg line:nth-of-type(3) {
    stroke: black;
    transform-origin: center 1.8rem;
}

.menu-burger svg line {
    transition-duration: 0.5s;
    transition-property: stroke, opacity, transform;
    transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}

.menu-burger input:checked ~ svg line:nth-of-type(2) {
    opacity: 0;
    transform: scale(0.2);
}

.menu-burger input:checked ~ svg line:nth-of-type(1) {
    transform: translate(0, .6rem) rotate(45deg);
}

.menu-burger input:checked ~ svg line:nth-of-type(3) {
    transform: translate(0, -.6rem) rotate(-45deg);
}

.navBoxOne {
    border: 1.5px solid black;
    width: 246rem;
    height: 9.9rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    z-index: 4;
    
    display: flex;
    justify-content: left;
    align-items: center;

    background: transparent;
}

.navBoxOne p {
    padding-left: 12rem;
    color: black;
    font-family: 'synnovaregular';
    font-size: 5rem;

    z-index: 1;
}

.navBoxTwo {
    border: 1.5px solid black;
    width: 10rem;
    height: 9.9rem;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;

    z-index: 4;

    display: flex; 
    background: transparent;
}

.navBoxTwo a {
    text-decoration: none;
    color: black;
    font-size: 2.0rem;
    padding: 1.5rem;
    display:inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: rgba(255, 255, 255, 0.213);
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 20rem;
    display: none;
}

ul li ul li {
    background: rgba(255, 255, 255, 0.213);
    display: block;
}

ul li ul li a {
    display:block !important;
} 

ul li ul li:hover {
    background: rgba(255, 255, 255, 0.213);
}

.backGroundFlare {
    height: 20rem;
    width: 256rem;

    margin-top: -10rem;

    background-image: url(/high-fidelity-prototype/customer-prototype/images/whiteDressBackground-ezgif.com-rotate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
